* {
  /* background-color: #F6F6F6; */
}

.main-background {
  position: relative;
  background: #f7f7f7;
  border-radius: 16px;
}

/* -------- SIDEBAR ------- */

.sidebar_container {
  display: flex;
}

.sidebar {
  background: #ffff;
  color: #7e7d88;
  height: 100vh;
  width: 210px;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  margin-bottom: 20px;
}

.top_section img {
  width: 40%;
  height: 30%;
  object-fit: contain;
}

.link {
  display: flex;
  color: #7e7d88;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover {
  background: orange;
  color: #ffff;
}

.icon,
.lin_text {
  font-size: 20px;
}

.logout_btn {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  background: #fff2e7;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 250px;
  border: none;
}

.logout_link {
  display: contents;
  text-decoration: none;
  color: #ff7506;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* ------------ PERSONAL INFOR ----------- */

.infomation-img {
  position: absolute;
  width: 1112px;
  height: 397px;
  left: 300px;
  top: 168px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
  border-radius: 12px;
}

.img-icon {
  position: absolute;
  width: 248px;
  height: 251px;
  left: 24px;
  top: 40px;
}

.img-icon img {
  position: absolute;
  width: 248px;
  height: 248px;
  left: 0px;
  top: 0px;
  border-radius: 318px;
  object-fit: fill;
}

.icon-cam {
  box-sizing: border-box;
  position: absolute;
  width: 45px;
  height: 45px;
  left: 171px;
  top: 206px;
  display: flex;
  background: #ff7506;
  border: 2px solid #ffffff;
  border-radius: 38px;
  color: white;
}

.camera {
  width: 25px;
  height: 25px;
  margin-left: 8px;
  margin-top: 8px;
}

.name-img p {
  position: absolute;
  height: 36px;
  left: 55px;
  top: 307px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #282739;
}

.infomation {
  position: absolute;
  width: 792px;
  height: 276px;
  left: 296px;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

.info-item label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.info-item input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  padding: 12px 16px;
  background: #eaeaec;
  border-radius: 6px;
  border: 0px;
  box-shadow: none;
  width: 352px;
  color: #535261;
  opacity: 0.5;
  outline: none;
  /* pointer-events: none; */
}

/* --------------------------- DASHBROAD ------------- */
.dashbroad_container {
  position: absolute;
  width: 1280px;
  height: 630px;
  left: 240px;
  top: 100px;
}

.content_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ff7506;
}

.broadtype_container {
  width: 850px;
  height: 120px;
  display: flex;
}

.broads {
  width: 200px;
  height: 120px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
  margin-right: 15px;
}

.broad_name {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.broad_name h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #535261;
}

.icon_wrapper1 {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: #6695fb;
  opacity: 0.4;
  border: 1px solid #dadada;
  border-radius: 50%;
  font-size: x-large;
  margin-right: 10px;
}

.icon1 {
  color: blue;
  margin-top: 10px;
  margin-left: 12px;
  font-size: x-large;
}

.broad_number {
  display: flex;
  margin-top: 10px;
  margin-left: 12px;
}

.number_wrapper1 {
  display: flex;
  width: 48px;
  height: 14.98px;
  background: rgba(255, 149, 1, 0.15);
  border-radius: 7.18115px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #ff9138;
  padding: 1px;
  margin-top: 20px;
  margin-left: 28px;
  justify-content: center;
  align-items: center;
}

.icon_wrapper2 {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: #35c75a;
  opacity: 0.4;
  border: 2px solid #35c75a;
  border-radius: 50%;
  font-size: x-large;
  margin-right: 10px;
}

.icon2 {
  color: green;
  margin-top: 10px;
  margin-left: 12px;
  font-size: x-large;
}

.number_wrapper2 {
  display: flex;
  width: 48px;
  height: 14.98px;
  background: rgba(231, 63, 63, 0.15);
  border-radius: 7.18115px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #e73f3f;
  padding: 1px;
  margin-top: 20px;
  margin-left: 28px;
  justify-content: center;
  align-items: center;
}

.icon_wrapper3 {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: #ffac6a;
  opacity: 0.4;
  border: 1px solid #dadada;
  border-radius: 50%;
  font-size: x-large;
  margin-right: 10px;
}

.icon3 {
  color: #d3650b;
  margin-top: 10px;
  margin-left: 12px;
  font-size: x-large;
}

.icon_wrapper4 {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: #f86d6d;
  opacity: 0.4;
  border: 1px solid #dadada;
  border-radius: 50%;
  font-size: x-large;
  margin-right: 10px;
}

.icon4 {
  color: #bb0000;
  margin-top: 10px;
  margin-left: 12px;
  font-size: x-large;
}

.chart_container {
  width: 850px;
  height: 430px;
  box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
  border-radius: 12px;
  background: white;
  margin-top: 10px;
}

.chart_info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
}

.chart_info h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #282739;
}

.chart_info h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a9a9b0;
}

.chart_main {
  padding: 10px;
  height: 310px;
}

.dashbroad_dropdown {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  gap: 24px;
  width: 106px;
  height: 42px;
  background: #ffffff;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 5px;
}

.overview_container {
  position: absolute;
  width: 410px;
  height: 730px;
  left: 1110px;
  top: 0px;
  background: white;
  box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
  border-radius: 8px 0px 0px 8px;
}

.overview_container .content_title {
  margin-top: 100px;
  margin-left: 15px;
}

.status_box {
  width: 353px;
  height: 83px;
  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border-radius: 12px;
  margin: 15px 0px 10px 30px;
}

.outerline {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 10px 10px 0 10px;
}

.innerline {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 15px 15px 0 15px;
}

.innerline_2 {
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 20px 20px 0 20px;
}

.status_box_info {
  height: 83px;
  margin-left: 80px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.info_1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #535261;
}

.info_1 p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ff7506;
}

.info_2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #7e7d88;
}

.info_3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ff7506;
}

.calendar {
  display: flex;
  width: 350px;
  margin-left: 30px;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ff7506;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ff9138;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #ff7506;
  border-radius: 8px;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* ----------------- DEVICE ------------------- */
.device_container {
  position: absolute;
  width: 1280px;
  height: 630px;
  left: 240px;
  top: 100px;
}

.device_topcontent {
  display: flex;
  margin-bottom: 12px;
}

.device_select {
  margin-right: 2%;
}

.device_select .InputLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
}

.device_select svg {
  color: #ff7506;
}

.select_list {
  width: 300px;
  height: 44px;
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.device_search {
  margin-left: 250px;
}

.device_search svg {
  color: #ff7506;
}

.device_table {
  width: 1170px;
  height: 460px;
}

.content-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table th {
  padding: 0px 8px;
  text-align: left;
  background-color: #ff9138;
  color: white;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  height: 49px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.content-table td {
  border: 1px solid #ddd;
  padding: 0px 8px;
  border-top: none;
  border-bottom: none;
  height: 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.content-table th:first-child,
td:first-child {
  padding: 0px 8px 0px 16px;
}

.content-table tr:nth-child(even) {
  background-color: #fff2e7;
}

.content-table td:nth-child(7),
td:nth-child(8) {
  padding: 0px 17px;
}

.content-table td:nth-child(3) {
  width: 138px;
}

.red {
  display: inline-flex;
  width: 8px;
  height: 8px;
  background: #ec3740;
  border-radius: 10px;
  margin-right: 5px;
}
.green {
  display: inline-flex;
  width: 8px;
  height: 8px;
  background: #28e43e;
  border-radius: 10px;
  margin-right: 5px;
}

.table_pages {
  display: flex;
  align-items: center;
  margin-left: 920px;
  color: #7e7d88;
}

.table_pages svg,
span {
  cursor: pointer;
}

.table_pages span {
  width: 10px;
  height: 22px;
  margin: 0 10px 0 10px;
}

.active_page {
  padding: 3px 8px 3px 8px;
  background: #ff7506;
  border-radius: 4px;
  color: #ffffff;
}

.device_add {
  position: absolute;
  left: 1200px;
  top: 120px;
  width: 80px;
  height: 75px;
  background: #fff2e7;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 4px;
  gap: 4px;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ff7506;
}

/* -------------ADD DEVICE-------------- */
.add_deviceform {
  width: 1220px;
  height: 510px;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ff7506;
  padding: 1%;
}

.addform_container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: space-around;
  align-content: space-around;
  padding: 0 1.5rem 5px 1.5rem;
}

.addform_container label {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
}

.addform_container span {
  width: 6px;
  height: 6px;
  color: #ff4747;
  margin-top: 4px;
  margin-left: 5px;
}

.addform_container input {
  width: 535px;
  height: 44px;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
  margin: 0.5rem 0;
  background-color: white;
  padding: 0 1rem;
  transition: all 0.2 ease-in;
}

.usedservice_item {
  grid-column: 1 / 3;
}

.usedservice_item input {
  width: 1120px;
}

.devicetype_select {
  width: 570px;
  height: 44px;
  border-radius: 8px;
  margin: 0.5rem 0;
  background-color: white;
  transition: all 0.2 ease-in;
}

.devicetype_placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a9a9b0;
}

.notice {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7e7d88;
  padding: 0 1.5rem 0 1.5rem;
}

.notice span {
  width: 6px;
  height: 6px;
  color: #ff4747;
  margin-top: 3px;
  margin-right: 5px;
}

.addform_button {
  display: flex;
  width: 1220px;
  justify-content: center;
  margin-top: 10px;
}

.addform_cancelbtn {
  width: 147px;
  height: 48px;
  background: #fff2e7;
  border: 1.5px solid #ff9138;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ff9138;
  margin-right: 10px;
  cursor: pointer;
}

.addform_addbtn {
  width: 147px;
  height: 48px;
  background: #ff9138;
  border: none;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

/* ----------------DEVICE DETAIL PAGE------------------- */

.device_detailform {
  width: 1170px;
  height: 550px;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

.device_detailwrapper {
  display: grid;
  grid-template: repeat(3, 40px) / repeat(2, 500px);
  padding: 0 1.5rem 5px 1.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
}

.device_detailwrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535261;
}

.device_detailname {
  display: flex;
}

.device_detailname p {
  margin-left: 50px;
}

.update_icon {
  width: 30;
  height: 30;
  padding: 5px;
  background: #ff9138;
  color: #ffff;
  border-radius: 5px;
}

.tag_field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px 270px 10px 12px;
  gap: 10px;

  width: 1104px;
  height: 50px;

  background: #ffffff;

  border: 1.5px solid #ffac6a;
  border-radius: 8px;
}

.usedservice_tag {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  gap: 10px;
  background: #ffac6a;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.usedservice_tag svg {
  font-size: larger;
}

/* -------------- SERVICE PAGE ----------------- */
.calender_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date_selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: #ffffff;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
}

.calender_arrow {
  color: #535261 !important;
  margin-left: 5px;
  margin-right: 5px;
}

.service_container {
  position: absolute;
  width: 1280px;
  height: 630px;
  left: 240px;
  top: 100px;
  /* background-color: lightgray; */
}

.add_serviceform {
  margin-top: 10px;
  width: 1250px;
  height: 534px;
  /* background: lightcyan; */
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

.add_serviceWrapper {
  height: 150px;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  padding: 0 1.5rem 0px 1.5rem;
  /* background-color: lightcoral; */
}

.add_serviceWrapper input {
  padding: 5px 10px 5px 10px;
  gap: 10px;
  width: 560px;
  height: 30px;
  background: #ffffff;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
}

.left-content input {
  margin-bottom: 10px;
}

.service_description textarea {
  height: 100px;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  width: 560px;
  background: #ffffff;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
  resize: none;
}
